.advantages {
  width: $mobile;
}
.advantages__item {
  width: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advatages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 450px;
  margin-bottom: 30px;

  background-color: $secondary-bg-color;
  border-radius: 4px;
}

.advantages__title {
  color: $secondary-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
