.hero__btn {
  display: block;

  margin: auto;
  padding: 10px 32px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px transparent;
  color: $nav-background-color;
  background-color: $accent-color;

  transition: background-color 250ms $hover-time-func,
    box-shadow 250ms $hover-time-func;

  &:focus,
  &:hover {
    background-color: $accent-color-hover;
    box-shadow: $box-shadow;
  }
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.signup-form__submit-btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 200px;

  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: $box-shadow;
  border-radius: 4px;
  border: 1px transparent;
  color: $nav-background-color;
  background-color: $accent-color;

  transition: background-color 250ms $hover-time-func,
    box-shadow 250ms $hover-time-func;

  &:focus,
  &:hover {
    background-color: $accent-color-hover;
    box-shadow: $box-shadow;
  }
}

.signup-form__icon {
  display: block;
  margin-left: 12px;
}

// modal btns
.hero__btn--center {
  @extend .hero__btn;
  display: block;
  margin: 0 auto;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: $nav-background-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $logo-color;

  transition: color 250ms $hover-time-func;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}
.close-btn__icon {
  fill: currentColor;
}
