.header__mail--mobile {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: $primary-text-color;
  text-decoration: none;
}
.header__phone--mobile {
  display: block;
  margin-bottom: 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $accent-color;
}

.header__mail,
.header__phone {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  @media screen and (min-width: $tablett) and (max-width: $desktop) {
    padding: 0;
  }

  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition: color 250ms $hover-time-func;

  &:focus,
  &:hover,
  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.adress__mail,
.adress__phone {
  @extend .header__mail, .header__phone;
  padding: 0;

  @media screen and (max-width: $mobile) {
    display: block;
  }
}
