.header__mail,
.header__phone {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition: color 250ms $hover-time-func;

  &:focus,
  &:hover,
  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.adress__mail,
.adress__phone {
  @extend .header__mail, .header__phone;
  padding: 0;
}
