.customers {
  color: $secondary-text-color;
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.customers__item {
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: $tablett) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  color: $customer-link-color;
  border: 1px solid $customer-link-color;
  border-radius: 4px;

  transition: color 250ms $hover-time-func, border 250ms $hover-time-func;

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.customers__icon {
  fill: currentColor;
}
