.header {
  border-bottom: $border-param;
}

@media screen and (max-width: $mobile) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header__nav-list,
  .header__contact-list {
    display: none;
  }
}
