.header {
  border-bottom: $border-param;
}

.header__nav {
  display: flex;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list,
.header__contact-list {
  display: none;
}
