.hero {
  min-width: 1600px;
  min-height: 600px;
  background-color: $bgc-hero;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/studio-img/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero__title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding-top: 200px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $nav-background-color;
}
