.hero {
  height: 400px;

  @media screen and (min-width: $desktop) {
    height: 600px;
  }

  background-color: $bgc-hero;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/studio-img/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/studio-img/hero-img2x.jpg");
  }
}

.hero__title {
  max-width: 360px;

  width: 100%;
  padding-top: 98px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: $nav-background-color;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    max-width: 696px;
    width: 100%;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
