.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  overflow-y: scroll;
  background-color: $nav-background-color;

  transform: translateX(-100%);
  transition: transform 250ms $hover-time-func;

  &.is-open {
    display: block;
    transform: translateX(0);
  }
}

.header__nav-list--mobile {
  margin-bottom: 316px;
}

.header__item--mobile {
  margin-bottom: 32px;
}
.header__link--mobile {
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: $secondary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header__contact-list--mobile {
  margin-bottom: 64px;
}

.header__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header__social-item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: $modal-form-input-border;
  }
}

.header__social-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;

  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: $accent-color;
  text-decoration: none;
}
