.occupation {
  padding-top: 0;
}
.occupation__list {
  display: flex;
  gap: 30px;
}
.occupation__item {
  flex-basis: calc((100% - 60px) / 3);
}

.occupation__title {
  color: $secondary-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.occupation__thumb {
  position: relative;
}
.occupation__overflow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  background: rgba(47, 48, 58, 0.8);
}
.occupation__description {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $nav-background-color;
}
