.filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin-bottom: 40px;

  @media screen and (min-width: $tablett) {
    flex-wrap: nowrap;
    margin-bottom: 30px;

    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
