.container {
  min-width: 320px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablett) {
    width: $tablett;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.section--padding {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $mobile) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
