$primary-text-color: #757575;
$secondary-text-color: #212121;
$nav-background-color: #ffffff;
$dark-background-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$accent-color: #2196f3;
$accent-color-hover: #188ce8;
$logo-color: #000000;
$border-param: 1px solid #eeeeee;
$soc-links-bgc: #afb1b8;
$footer-bgc-soc: rgba(255, 255, 255, 0.1);
$customer-link-color: #afb1b8;
$hover-time-func: cubic-bezier(0.4, 0, 0.2, 1);
$bgc-overlay: rgba(33, 150, 243, 0.9);
$modal-form-input-border: 1px solid rgba(33, 33, 33, 0.2);
$modal-form-input-border-accent: 1px solid #2196f3;
$bgc-hero: #c4c4c4;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
